span {
	margin: 0;
}

html {
	--lumo-space-xs: 0 !important;
	--lumo-font-size-xxs: 0 !important;
	--lumo-font-size-xs: 0 !important;
	--lumo-font-size-s: 0 !important;
	--lumo-font-size-m: 0 !important;
	--lumo-font-size-l: 0 !important;
	--lumo-font-size-xl: 0 !important;
	--lumo-font-size-xxl: 0 !important;
	--lumo-font-size-xxxl: 0 !important;
	--lumo-line-height-xs: 0 !important;
	--lumo-line-height-s: 0 !important;
	--lumo-line-height-m: 0 !important;
}

vaadin-button { -
	--lumo-button-size: 0 !important;
	--lumo-border-radius: 0 !important;
	background-color: lightBlue;
	height: 15px !important;
	width: 15px !important;
	cursor: pointer;
}

vaadin-button:hover {
	background-color: white;
}

._ffebee {background-color:#ffebee}
._ffcdd2 {background-color:#ffcdd2}
._ef9a9a {background-color:#ef9a9a}
._e57373 {background-color:#e57373}
._ef5350 {background-color:#ef5350}
._f44336 {background-color:#f44336}
._e53935 {background-color:#e53935}
._d32f2f {background-color:#d32f2f}
._c62828 {background-color:#c62828}
._b71c1c {background-color:#b71c1c}
._ff8a80 {background-color:#ff8a80}
._ff5252 {background-color:#ff5252}
._ff1744 {background-color:#ff1744}
._d50000 {background-color:#d50000}
._fce4ec {background-color:#fce4ec}
._f8bbd0 {background-color:#f8bbd0}
._f48fb1 {background-color:#f48fb1}
._f06292 {background-color:#f06292}
._ec407a {background-color:#ec407a}
._e91e63 {background-color:#e91e63}
._d81b60 {background-color:#d81b60}
._c2185b {background-color:#c2185b}
._ad1457 {background-color:#ad1457}
._880e4f {background-color:#880e4f}
._ff80ab {background-color:#ff80ab}
._ff4081 {background-color:#ff4081}
._f50057 {background-color:#f50057}
._c51162 {background-color:#c51162}
._f3e5f5 {background-color:#f3e5f5}
._e1bee7 {background-color:#e1bee7}
._ce93d8 {background-color:#ce93d8}
._ba68c8 {background-color:#ba68c8}
._ab47bc {background-color:#ab47bc}
._9c27b0 {background-color:#9c27b0}
._8e24aa {background-color:#8e24aa}
._7b1fa2 {background-color:#7b1fa2}
._6a1b9a {background-color:#6a1b9a}
._4a148c {background-color:#4a148c}
._ea80fc {background-color:#ea80fc}
._e040fb {background-color:#e040fb}
._d500f9 {background-color:#d500f9}
._aa00ff {background-color:#aa00ff}
._ede7f6 {background-color:#ede7f6}
._d1c4e9 {background-color:#d1c4e9}
._b39ddb {background-color:#b39ddb}
._9575cd {background-color:#9575cd}
._7e57c2 {background-color:#7e57c2}
._673ab7 {background-color:#673ab7}
._5e35b1 {background-color:#5e35b1}
._512da8 {background-color:#512da8}
._4527a0 {background-color:#4527a0}
._311b92 {background-color:#311b92}
._b388ff {background-color:#b388ff}
._7c4dff {background-color:#7c4dff}
._651fff {background-color:#651fff}
._6200ea {background-color:#6200ea}
._e8eaf6 {background-color:#e8eaf6}
._c5cae9 {background-color:#c5cae9}
._9fa8da {background-color:#9fa8da}
._7986cb {background-color:#7986cb}
._5c6bc0 {background-color:#5c6bc0}
._3f51b5 {background-color:#3f51b5}
._3949ab {background-color:#3949ab}
._303f9f {background-color:#303f9f}
._283593 {background-color:#283593}
._1a237e {background-color:#1a237e}
._8c9eff {background-color:#8c9eff}
._536dfe {background-color:#536dfe}
._3d5afe {background-color:#3d5afe}
._304ffe {background-color:#304ffe}
._e3f2fd {background-color:#e3f2fd}
._bbdefb {background-color:#bbdefb}
._90caf9 {background-color:#90caf9}
._64b5f6 {background-color:#64b5f6}
._42a5f5 {background-color:#42a5f5}
._2196f3 {background-color:#2196f3}
._1e88e5 {background-color:#1e88e5}
._1976d2 {background-color:#1976d2}
._1565c0 {background-color:#1565c0}
._0d47a1 {background-color:#0d47a1}
._82b1ff {background-color:#82b1ff}
._448aff {background-color:#448aff}
._2979ff {background-color:#2979ff}
._2962ff {background-color:#2962ff}
._e1f5fe {background-color:#e1f5fe}
._b3e5fc {background-color:#b3e5fc}
._81d4fa {background-color:#81d4fa}
._4fc3f7 {background-color:#4fc3f7}
._29b6f6 {background-color:#29b6f6}
._03a9f4 {background-color:#03a9f4}
._039be5 {background-color:#039be5}
._0288d1 {background-color:#0288d1}
._0277bd {background-color:#0277bd}
._01579b {background-color:#01579b}
._80d8ff {background-color:#80d8ff}
._40c4ff {background-color:#40c4ff}
._00b0ff {background-color:#00b0ff}
._0091ea {background-color:#0091ea}
._e0f7fa {background-color:#e0f7fa}
._b2ebf2 {background-color:#b2ebf2}
._80deea {background-color:#80deea}
._4dd0e1 {background-color:#4dd0e1}
._26c6da {background-color:#26c6da}
._00bcd4 {background-color:#00bcd4}
._00acc1 {background-color:#00acc1}
._0097a7 {background-color:#0097a7}
._00838f {background-color:#00838f}
._006064 {background-color:#006064}
._84ffff {background-color:#84ffff}
._18ffff {background-color:#18ffff}
._00e5ff {background-color:#00e5ff}
._00b8d4 {background-color:#00b8d4}
._e0f2f1 {background-color:#e0f2f1}
._b2dfdb {background-color:#b2dfdb}
._80cbc4 {background-color:#80cbc4}
._4db6ac {background-color:#4db6ac}
._26a69a {background-color:#26a69a}
._009688 {background-color:#009688}
._00897b {background-color:#00897b}
._00796b {background-color:#00796b}
._00695c {background-color:#00695c}
._004d40 {background-color:#004d40}
._a7ffeb {background-color:#a7ffeb}
._64ffda {background-color:#64ffda}
._1de9b6 {background-color:#1de9b6}
._00bfa5 {background-color:#00bfa5}
._e8f5e9 {background-color:#e8f5e9}
._c8e6c9 {background-color:#c8e6c9}
._a5d6a7 {background-color:#a5d6a7}
._81c784 {background-color:#81c784}
._66bb6a {background-color:#66bb6a}
._4caf50 {background-color:#4caf50}
._43a047 {background-color:#43a047}
._388e3c {background-color:#388e3c}
._2e7d32 {background-color:#2e7d32}
._1b5e20 {background-color:#1b5e20}
._b9f6ca {background-color:#b9f6ca}
._69f0ae {background-color:#69f0ae}
._00e676 {background-color:#00e676}
._00c853 {background-color:#00c853}
._f1f8e9 {background-color:#f1f8e9}
._dcedc8 {background-color:#dcedc8}
._c5e1a5 {background-color:#c5e1a5}
._aed581 {background-color:#aed581}
._9ccc65 {background-color:#9ccc65}
._8bc34a {background-color:#8bc34a}
._7cb342 {background-color:#7cb342}
._689f38 {background-color:#689f38}
._558b2f {background-color:#558b2f}
._33691e {background-color:#33691e}
._ccff90 {background-color:#ccff90}
._b2ff59 {background-color:#b2ff59}
._76ff03 {background-color:#76ff03}
._64dd17 {background-color:#64dd17}
._f9fbe7 {background-color:#f9fbe7}
._f0f4c3 {background-color:#f0f4c3}
._e6ee9c {background-color:#e6ee9c}
._dce775 {background-color:#dce775}
._d4e157 {background-color:#d4e157}
._cddc39 {background-color:#cddc39}
._c0ca33 {background-color:#c0ca33}
._afb42b {background-color:#afb42b}
._9e9d24 {background-color:#9e9d24}
._827717 {background-color:#827717}
._f4ff81 {background-color:#f4ff81}
._eeff41 {background-color:#eeff41}
._c6ff00 {background-color:#c6ff00}
._aeea00 {background-color:#aeea00}
._fffde7 {background-color:#fffde7}
._fff9c4 {background-color:#fff9c4}
._fff59d {background-color:#fff59d}
._fff176 {background-color:#fff176}
._ffee58 {background-color:#ffee58}
._ffeb3b {background-color:#ffeb3b}
._fdd835 {background-color:#fdd835}
._fbc02d {background-color:#fbc02d}
._f9a825 {background-color:#f9a825}
._f57f17 {background-color:#f57f17}
._ffff8d {background-color:#ffff8d}
._ffff00 {background-color:#ffff00}
._ffea00 {background-color:#ffea00}
._ffd600 {background-color:#ffd600}
._fff8e1 {background-color:#fff8e1}
._ffecb3 {background-color:#ffecb3}
._ffe082 {background-color:#ffe082}
._ffd54f {background-color:#ffd54f}
._ffca28 {background-color:#ffca28}
._ffc107 {background-color:#ffc107}
._ffb300 {background-color:#ffb300}
._ffa000 {background-color:#ffa000}
._ff8f00 {background-color:#ff8f00}
._ff6f00 {background-color:#ff6f00}
._ffe57f {background-color:#ffe57f}
._ffd740 {background-color:#ffd740}
._ffc400 {background-color:#ffc400}
._ffab00 {background-color:#ffab00}
._fff3e0 {background-color:#fff3e0}
._ffe0b2 {background-color:#ffe0b2}
._ffcc80 {background-color:#ffcc80}
._ffb74d {background-color:#ffb74d}
._ffa726 {background-color:#ffa726}
._ff9800 {background-color:#ff9800}
._fb8c00 {background-color:#fb8c00}
._f57c00 {background-color:#f57c00}
._ef6c00 {background-color:#ef6c00}
._e65100 {background-color:#e65100}
._ffd180 {background-color:#ffd180}
._ffab40 {background-color:#ffab40}
._ff9100 {background-color:#ff9100}
._ff6d00 {background-color:#ff6d00}
._fbe9e7 {background-color:#fbe9e7}
._ffccbc {background-color:#ffccbc}
._ffab91 {background-color:#ffab91}
._ff8a65 {background-color:#ff8a65}
._ff7043 {background-color:#ff7043}
._ff5722 {background-color:#ff5722}
._f4511e {background-color:#f4511e}
._e64a19 {background-color:#e64a19}
._d84315 {background-color:#d84315}
._bf360c {background-color:#bf360c}
._ff9e80 {background-color:#ff9e80}
._ff6e40 {background-color:#ff6e40}
._ff3d00 {background-color:#ff3d00}
._dd2c00 {background-color:#dd2c00}
._efebe9 {background-color:#efebe9}
._d7ccc8 {background-color:#d7ccc8}
._bcaaa4 {background-color:#bcaaa4}
._a1887f {background-color:#a1887f}
._8d6e63 {background-color:#8d6e63}
._795548 {background-color:#795548}
._6d4c41 {background-color:#6d4c41}
._5d4037 {background-color:#5d4037}
._4e342e {background-color:#4e342e}
._3e2723 {background-color:#3e2723}
._fafafa {background-color:#fafafa}
._f5f5f5 {background-color:#f5f5f5}
._eeeeee {background-color:#eeeeee}
._e0e0e0 {background-color:#e0e0e0}
._bdbdbd {background-color:#bdbdbd}
._9e9e9e {background-color:#9e9e9e}
._757575 {background-color:#757575}
._616161 {background-color:#616161}
._424242 {background-color:#424242}
._212121 {background-color:#212121}
._eceff1 {background-color:#eceff1}
._cfd8dc {background-color:#cfd8dc}
._b0bec5 {background-color:#b0bec5}
._90a4ae {background-color:#90a4ae}
._78909c {background-color:#78909c}
._607d8b {background-color:#607d8b}
._546e7a {background-color:#546e7a}
._455a64 {background-color:#455a64}
._37474f {background-color:#37474f}
._263238 {background-color:#263238}
._000000 {background-color:#000000}
._ffffff {background-color:#ffffff}